<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!--my css-->
    <link rel="stylesheet" href="/static/css/styles.css">
    <!--Favicon-->
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <!--Chakra UI css-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <!--React & Chakra UI mount here-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://unpkg.com/@chakra-ui/react@1.6.10/dist/chakra-ui-react.umd.min.js"></script>
    <script src="https://unpkg.com/@emotion/react@11.7.1/dist/emotion-react.umd.min.js"></script>
    <script src="https://unpkg.com/@emotion/styled@11.6.0/dist/emotion-styled.umd.min.js"></script>
</head>
<body>
    <div id="root">
        <nav style="padding: 1rem; background-color: #080404; color: white;">
            <ul style="display:flex; justify-content: space-around; list-style: none;">
                <li><a href="/" style="color: white;">Home</a></li>
                <li><a href="/building" style="color: white;">Projects</a></li>
                <li><a href="/resume" style="color: white;">CV</a></li>
                <li><a href="/this-page" style="color: white;">This Page</a></li>
            </ul>
        </nav>
    </div>

    {% block content %}
    <!--Content injection site-->
    {% endblock %}

    <footer>
        <p>&copy; Test</p>
    </footer>
</body>
</html>
