{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h2>Mini FAQ About This Page</h2>
        Why
        ...IDK yet but mini portfolio, potential blog, organized ideas
        </br>Tech stack
        ...SQLite database, Python, Flask backend, HTML & CSS, Node.js, frontend
        </br>Repo
        ...I believe in open-source so I try to make as much work as I can public, this entire webpage (for now) is <a style="text-decoration:none" href="https://github.com/lepkinh/personal-website">here</a>.
    </p>
{% endblock %}